.background {
    background: url('../dan-gold-E6HjQaB7UEA-unsplash.jpg') no-repeat center ;
    opacity: 0.8;
    height: 100vh;
    margin-top: -60px;
    padding-top: 10px;
}
.login-form{
    width: 580px !important;
    height: 550px !important; 
    margin: 0 auto;
    background: #fff;
    border-radius: 9px !important;
    border: none !important;
    box-shadow: 2px 11px 10px 0 rgba(0,0,0,0.10);
}
.container-position{
    width: 400px;
    margin: 100px auto;
    padding-top:48px;
}
h1 {
    line-height: 60px;
    margin-bottom: 8px;
}
p {
    margin-block-end: 36px;
}
.button-holder{
    padding: 20px;
}
.credit {
    position: absolute;
    left: 0;
    bottom: 0;
    background: white;
}
.credit p {
    padding: 10px 20px;
}